# Main Code

## Instalando Bibliotecas

In [1]:
pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Collecting numpy
  Downloading numpy-2.3.0-cp313-cp313-win_amd64.whl.metadata (60 kB)
Downloading numpy-2.3.0-cp313-cp313-win_amd64.whl (12.7 MB)
   ---------------------------------------- 0.0/12.7 MB ? eta -:--:--
   ------------ --------------------------- 3.9/12.7 MB 21.2 MB/s eta 0:00:01
   ---------------------------------- ----- 11.0/12.7 MB 27.7 MB/s eta 0:00:01
   ---------------------------------------- 12.7/12.7 MB 27.4 MB/s eta 0:00:00
Installing collected packages: numpy
Successfully installed numpy-2.3.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.3.0-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\victo\appdata\roaming\python\python313\site-packages (from pandas) (2.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\victo\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\victo\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.0-cp313-cp313-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ------------- -------------------------- 3.7/11.0 MB 22.4 MB/s eta 0:00:01
   ------------------------ --------------- 6.8/11.0 MB 18.6 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 22.2 MB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.3.0 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Collecting seaborn
  Using cached seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\victo\appdata\roaming\python\python313\site-packages (from seaborn) (2.3.0)
Requirement already satisfied: pandas>=1.2 in c:\users\victo\appdata\roaming\python\python313\site-packages (from seaborn) (2.3.0)
Collecting matplotlib!=3.6.1,>=3.4 (from seaborn)
  Downloading matplotlib-3.10.3-cp313-cp313-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading contourpy-1.3.2-cp313-cp313-win_amd64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading fonttools-4.58.3-cp313-cp313-win_amd64.whl.metadata (108 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Using cached kiwisolver-1.4.8-cp313-cp313-win_amd64.whl.metadata (6.3 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\victo\appdata\roaming\python\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (25.0)
Collecting pillow>=8 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading pillow-11.2.1-cp313-cp313-win_amd64.whl.metadata (9.1 kB)
Collecting pyparsing>=2.3.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading pyparsing-3.2.3-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\victo\appdata\roaming\python\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\victo\appdata\roaming\python\python313\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\victo\appdata\roaming\python\python313\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\victo\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Using cached seaborn-0.13.2-py3-none-any.whl (294 kB)
Downloading matplotlib-3.10.3-cp313-cp313-win_amd64.whl (8.1 MB)
   ---------------------------------------- 0.0/8.1 MB ? eta -:--:--
   ------------------- -------------------- 3.9/8.1 MB 23.4 MB/s eta 0:00:01
   ---------------------------------------- 8.1/8.1 MB 21.9 MB/s eta 0:00:00
Downloading contourpy-1.3.2-cp313-cp313-win_amd64.whl (223 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.58.3-cp313-cp313-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   ---------------------------------------- 2.2/2.2 MB 37.7 MB/s eta 0:00:00
Using cached kiwisolver-1.4.8-cp313-cp313-win_amd64.whl (71 kB)
Downloading pillow-11.2.1-cp313-cp313-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 2.7/2.7 MB 29.3 MB/s eta 0:00:00
Downloading pyparsing-3.2.3-py3-none-any.whl (111 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.3.2 cycler-0.12.1 fonttools-4.58.3 kiwisolver-1.4.8 matplotlib-3.10.3 pillow-11.2.1 pyparsing-3.2.3 seaborn-0.13.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
pip install plotly

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: plotly in c:\users\victo\appdata\roaming\python\python313\site-packages (6.1.2)
Requirement already satisfied: narwhals>=1.15.1 in c:\users\victo\appdata\roaming\python\python313\site-packages (from plotly) (1.42.1)
Requirement already satisfied: packaging in c:\users\victo\appdata\roaming\python\python313\site-packages (from plotly) (25.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

## Importando Bibliotecas

In [7]:
import numpy as np
import pandas as pd
import seaborn as sns
import plotly.express as px

In [8]:
data_students = pd.read_csv('./student-scores.csv')

In [9]:
# Gerando a Planilha e Exibindo ela
data_students

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,96,100,90,88,90
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88,80,89,63,86
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65,65,80,74,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,Alan,Reynolds,alan.reynolds.1996@gslingacademy.com,male,False,2,False,30,Construction Engineer,83,77,84,73,75,84,82
1996,1997,Thomas,Gilbert,thomas.gilbert.1997@gslingacademy.com,male,False,2,False,20,Software Engineer,89,65,73,80,87,67,73
1997,1998,Madison,Cross,madison.cross.1998@gslingacademy.com,female,False,5,False,14,Software Engineer,97,85,63,93,68,94,78
1998,1999,Brittany,Compton,brittany.compton.1999@gslingacademy.com,female,True,10,True,5,Business Owner,51,96,72,89,95,88,75
1999,2000,Natalie,Smith,natalie.smith.2000@gslingacademy.com,female,False,5,False,27,Accountant,82,99,91,69,83,93,100

In [48]:
np.set_printoptions(suppress=True)

pd.set_option('display.float_format', '{.2f}'.format)

## Perguntas respondidas

### 1. Quantos alunos existem (Quantidade de meninos e meninas)?

In [10]:
# A coluna id pode ser usada para contar a quantidade total dos estudantes
num_students_unique = data_students['id'].nunique()
# Quantidade de numeros dos estudantes masculinos e femininos
male = data_students.loc[data_students['gender'] == 'male', :]
num_male = len(male)
female = data_students.loc[data_students['gender'] == 'female', :]
num_female = len(female)
# Resultado numero de estudantes no total
print(f'Existem {num_students_unique} estudantes:')

print(f'{num_male} estudantes do genero masculino.')
print(f'{num_female} estudantes do genero feminino.')

Existem 2000 estudantes:
998 estudantes do genero masculino.
1002 estudantes do genero feminino.

### 2. Quais os atributos dos alunos?

In [51]:
# Atributos dos alunos excluindo a coluna de id
student_atributes = data_students.drop( ['id'], axis=1 )
print( student_atributes.columns.tolist() )

['first_name', 'last_name', 'email', 'gender', 'part_time_job', 'absence_days', 'extracurricular_activities', 'weekly_self_study_hours', 'career_aspiration', 'math_score', 'history_score', 'physics_score', 'chemistry_score', 'biology_score', 'english_score', 'geography_score']

### 3. Qual o estudante com a maior média de nota?

In [21]:
# Lista das colunas de nota
score_columns = ['math_score', 'history_score', 'physics_score', 'chemistry_score', 'biology_score', 'english_score', 'geography_score']

# Calcula a média das notas
data_students['average_score'] = data_students[score_columns].mean(axis=1)

# Encontra o aluno com a maior média
top_student = data_students.sort_values('average_score', ascending=False).iloc[0]

# Combina o nome completo
full_name = f"{top_student['first_name']} {top_student['last_name']}"

# Exibe o nome completo, ID e média
print('O Estudante com maior média é: {} (ID: {}) com média {:.2f}'.format(
    full_name, top_student['id'], top_student['average_score']
))

O Estudante com maior média é: Lisa Mitchell (ID: 797) com média 96.14

### 4. Quantos estudantes tem um trabalho de meio período?

In [50]:
students_job = data_students.loc[data_students['part_time_job'] == True]
num_student_job = len(students_job)
print(f'{num_student_job} estudantes tem um trabalho de meio período')

316 estudantes tem um trabalho de meio período

### 5. Qual aluno/aluna que mais faltou?

In [49]:
# Descobre o número máximo de faltas
max_absences = data_students['absence_days'].max()

# Filtra todos os alunos com esse número de faltas
top_absent_students = data_students[data_students['absence_days'] == max_absences]

# Exibe todos os estudantes com mais faltas
print(f"Estudantes com mais faltas ({max_absences} faltas):")
for _, row in top_absent_students.iterrows():
    full_name = f"{row['first_name']} {row['last_name']}"
    print(f"- {full_name} (ID: {row['id']})")

Estudantes com mais faltas (10 faltas):
- Pamela Jackson (ID: 14)
- Raymond Shea (ID: 70)
- Louis Edwards (ID: 73)
- Stephen Rodriguez (ID: 152)
- Amanda Murphy (ID: 175)
- Anthony Martinez (ID: 274)
- Heather Faulkner (ID: 302)
- Gina Powell (ID: 305)
- David Rice (ID: 346)
- Francis Nelson (ID: 366)
- William Ballard (ID: 374)
- Brenda Mooney (ID: 488)
- Angela Allen (ID: 489)
- Thomas Clark (ID: 535)
- Holly Sexton (ID: 547)
- Paul Shaffer (ID: 552)
- John Pacheco (ID: 565)
- Sherry Brown (ID: 566)
- Eric Patton (ID: 594)
- Joshua Kelly (ID: 617)
- Maria Campos (ID: 639)
- Samuel Anderson (ID: 662)
- Michelle Martinez (ID: 673)
- Ross Esparza (ID: 693)
- James Carter (ID: 710)
- Leah Brown (ID: 714)
- Jose Jackson (ID: 732)
- Thomas Cruz (ID: 740)
- Ashley Gutierrez (ID: 749)
- Molly Jackson (ID: 809)
- Brittany Collier (ID: 833)
- Stephanie Bush (ID: 845)
- Keith Tanner (ID: 846)
- William Hernandez (ID: 854)
- Cody Smith (ID: 875)
- Sandra Davis (ID: 892)
- Heidi Adams (ID: 915)
- David Perez (ID: 925)
- Maria Malone (ID: 941)
- Connor Olson (ID: 958)
- Brandon Smith (ID: 1001)
- Nicole Williams (ID: 1002)
- Rachel Frye (ID: 1003)
- Jackson Smith (ID: 1015)
- Michael Carr (ID: 1021)
- Kenneth Mendez (ID: 1067)
- John Wilson (ID: 1092)
- John Klein (ID: 1104)
- Samantha Phillips (ID: 1117)
- David Hartman (ID: 1127)
- Jennifer Beck (ID: 1214)
- Dawn Flores (ID: 1239)
- Susan Wall (ID: 1250)
- Shawn Cameron (ID: 1275)
- Maureen Norman (ID: 1323)
- Christina Martinez (ID: 1325)
- Anthony Shah (ID: 1330)
- Rachel Williams (ID: 1349)
- Sean Malone (ID: 1350)
- Lauren Arias (ID: 1357)
- Stephanie Jordan (ID: 1364)
- James Tate (ID: 1373)
- Connor Mitchell (ID: 1405)
- Christina Ramirez (ID: 1415)
- Jonathan Mckay (ID: 1450)
- Joshua Williams (ID: 1477)
- Jessica Nolan (ID: 1480)
- Lisa Franco (ID: 1502)
- John Powell (ID: 1522)
- Kayla Bailey (ID: 1528)
- Brian Garcia (ID: 1536)
- Carlos Long (ID: 1556)
- Cynthia Weeks (ID: 1599)
- Eric Matthews (ID: 1604)
- Tamara Bennett (ID: 1605)
- Julie Floyd (ID: 1691)
- Brenda Morales (ID: 1712)
- Kimberly Shaw (ID: 1722)
- James Hernandez (ID: 1765)
- Bryan Dorsey (ID: 1777)
- Luis Little (ID: 1824)
- Cynthia Hodges (ID: 1840)
- Kimberly Haley (ID: 1854)
- Catherine Coffey (ID: 1888)
- Bethany Thomas (ID: 1913)
- Dennis Richardson (ID: 1959)
- Kristin Garcia (ID: 1978)
- Brittany Compton (ID: 1999)

### 6. Qual aluno/aluna que estuda por mais horas durante semana?

In [13]:
# Descobre o número máximo de faltas
max_hours = data_students['weekly_self_study_hours'].max()

# Filtra todos os alunos com esse número de faltas
top_weekly_hours_students = data_students[data_students['weekly_self_study_hours'] == max_hours]

# Exibe todos os estudantes com mais faltas
print(f"Estudantes com mais horas de estudo por semana ({max_hours} horas):")
for _, row in top_weekly_hours_students.iterrows():
    full_name = f"{row['first_name']} {row['last_name']}"
    print(f"- {full_name} (ID: {row['id']})")

Estudantes com mais horas de estudo por semana (50 horas):
- Michael Heath (ID: 735)
- Christopher Meyer (ID: 1624)

### 7. Qual é a carreira que os alunos mais querem seguir?

In [27]:
most_common_career = data_students['career_aspiration'].mode().iloc[0]
students_with_top_career = data_students[data_students['career_aspiration'] == most_common_career]

print(f"Carreira mais desejada: {most_common_career} ({len(students_with_top_career)} alunos):")

Carreira mais desejada: Software Engineer (315 alunos):

### 8. Qual é a média de nota para alunos que participam de pelo menos uma atividade extracuricular?

In [22]:
# Filtra os alunos que participam de pelo menos uma atividade extracurricular (valor True)
students_with_activities = data_students[data_students['extracurricular_activities'] == True]

# Calcula a média das notas desses alunos
avg_score_with_activities = students_with_activities['average_score'].mean()

# Exibe o resultado
print("A média de notas para alunos que participam de pelo menos uma atividade extracurricular é: {:.2f}".format(
    avg_score_with_activities))

A média de notas para alunos que participam de pelo menos uma atividade extracurricular é: 80.60

### 9. Qual é a média de nota para alunos que trabalham e participam de pelo menos uma atividade extracuricular?

In [23]:
# Filtra os alunos que trabalham e participam de atividades extracurriculares
working_and_activities = data_students[
    (data_students['part_time_job'] == True) &
    (data_students['extracurricular_activities'] == True)
]

# Calcula a média das notas desse grupo
avg_score_working_activities = working_and_activities['average_score'].mean()

# Exibe o resultado
print("A média de notas para alunos que trabalham e participam de pelo menos uma atividade extracurricular é: {:.2f}".format(
    avg_score_working_activities))

A média de notas para alunos que trabalham e participam de pelo menos uma atividade extracurricular é: 77.80

### 10. Qual a média da nota dos alunos que estudam mais de 10 horas por dia?

In [25]:
# Filtra os alunos que estudam mais de 10 horas por semana
students_study_10h_plus = data_students[data_students['weekly_self_study_hours'] > 10]

# Calcula a média das notas desses alunos
avg_score_study_10h_plus = students_study_10h_plus['average_score'].mean()

# Exibe o resultado
print("A média de notas para alunos que estudam mais de 10 horas por semana é: {:.2f}".format(
    avg_score_study_10h_plus))

A média de notas para alunos que estudam mais de 10 horas por semana é: 82.68